<!doctype html>

<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width,maximum-scale=1" />
  <title>Tími time tracker</title>
  <link rel="stylesheet"
        type="text/css"
        href="/assets/bootswatch-superhero/css/bootstrap.min.css">
  <link rel="stylesheet"
        type="text/css"
        href="/assets/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet"
        type="text/css"
        href="/assets/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet"
        type="text/css"
        href="/css/timi.css" />
  {% block stylesheets %}
  {% endblock %}
</head>
<body class="timi">

{% block top-nav %}
{% endblock %}

<div class="container">
        {% block body %}
        {% endblock %}
</div>

{% block end-of-body %}
{% endblock %}

<script src="/assets/jquery/jquery.min.js"></script>
<script src="/assets/bootswatch-superhero/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/dist/external/js-joda/js-joda.min.js"></script>

{% block javascript %}
{% endblock %}

</body>
</html>
